body {
  background: url(/images/fruitflasher.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.welcome {
  text-align: center;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: x-large;
}

.decks {
  text-align: left;
  padding-left: 25em;
  font-family: 'Roboto Slab', serif;
}

a {
  opacity: 0.5;
  line-height: 175%;
  background-color: grey;
  border-radius: 15%;
  padding: .5em;
  border: none;

}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: #09265C;
}

/* selected link */
a:active {
    color: #09265C;
}

.container {
  color: white;
  text-align: left;
  padding-top: 2em;
  padding-left: 30em

}

