
  <div>

    <% last_card = Card.find(@last_card_id)%>
    <% if last_card.answer == @user_answer   %>

      Correct! a million dollars to you

    <%else%>

      wrongo dumbass! you lose 10 points

      correct answer: <%last_card.answer%>
    <%end%>

  </div>
